<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhaolongzhong.wetweet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".main.RestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="AA_DB_NAME"
            android:value="TwitterClient.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <activity android:name=".main.MainActivity" />

        <activity
            android:name=".main.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".oauth.LoginActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="zhaolongzhong.com"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>

        <activity android:name=".home.detail.TweetDetailActivity"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme.Base">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".main.MainActivity" />
        </activity>

        <activity android:name=".home.create.NewTweetActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".search.SearchActivity"
            android:theme="@style/AppTheme.Base"/>

        <activity android:name=".profile.ProfileActivity"
            android:theme="@style/AppThemeBlack.Base"/>
        <activity android:name=".profile.ProfileEditActivity"
            android:theme="@style/AppTheme.Base"/>
        <activity android:name=".profile.UserListActivity"
            android:theme="@style/AppTheme.Base"/>
        <activity android:name=".nav.HighlightsActivity"/>
        <activity android:name=".nav.ListsActivity"/>
        <activity android:name=".nav.ConnectActivity"/>

    </application>

</manifest>